<div class="container mt-5 text-center">
  <h2>Welcome to the Stock Management System</h2>

  <div class="d-flex justify-content-center mt-4 gap-4">
    <button class="btn btn-primary btn-lg" (click)="goToStocks()">
      Stocks
    </button>

    <button class="btn btn-success btn-lg" (click)="goToStockExchanges()">
      Stock Exchanges
    </button>

    <button class="btn btn-outline-secondary me-2" (click)="goToLogout()">
      <i class="bi bi-house-door"></i> Logout
    </button>
  </div>
</div>